.container {
    background-color: #0C1A1A;
    padding: var(--app-block-padding);
}

.titlebox {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-bottom: 100px;
}

.titlebox h1 {
    font-size: 38px;
    text-transform: uppercase;
}

.titlebox p {
    color: #DAC5A7;
    text-align: center;
    line-height: 30px;
    font-family: "Merriweather", sans-serif;
}

.worksimages {
    width: 300px;
    height: 300px;
}

.works {
    display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  gap: 1rem;
  transition: transform 0.3s;
}

.workbox:hover {
    transform: scale(1.20);
}

.wrap {
    background-color: #178582;
    position: relative;
    width: 320px;
}

.name {
    display: flex;
    padding: 0 10px;
    justify-content: space-between;
    gap: 40px;
    position: relative;
    margin-top: -25%;
    align-items: center;
}

.title a, .description a {
    font-family: "Merriweather", sans-serif;
    font-size: 18px;
    color: #DAC5A7;
}

.description a {
    font-size: 14px;
}

@media (max-width: 768px) {
    .container {
        padding: 90px var(--app-block-padding);
    }

    .titlebox h1 {
        font-size: 32px;
        text-align: center;
    }

    .works {
        display: flex;
        flex-wrap: wrap;
        align-items: center;
        justify-content: center;
      transition: transform 0.3s;
    }

    .title, .description {
        font-family: "Merriweather", sans-serif;
        font-size: 14px;
        color: #DAC5A7;
    }
}