.bdy {
    background-color: #0C1A1A; 
    margin: 0;
    padding: 0 var(--app-block-padding);
    overflow: hidden;
}

.bodybox {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
}

.titlebox {
    display: flex;
    flex-direction: column;
    width: 500px;
}

.titlebox h1 {
    font-size: 70px;
    color: #DAC5A7;
    width: 500px;
}

.titlebox p {
    font-size: 18px;
    color: #DAC5A7;
    line-height: 40px;
    font-weight: 400;
}

/* .image {
    width: 1279px;
    height: 1000px;
} */