.bdy {
    background-color: #0C1A1A; 
    margin: 0;
    padding: 0 var(--app-block-padding);
    overflow: hidden;
}

.bodybox {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
}

.titlebox {
    display: flex;
    flex-direction: column;
    width: 500px;
}

.titlebox h1 {
    font-size: 70px;
    color: #DAC5A7;
    width: 500px;
}

.titlebox p {
    font-size: 18px;
    color: #DAC5A7;
    line-height: 40px;
    font-weight: 400;
}

 .image2 {
    display: none;
}

/* .image {
    width: 1279px;
    height: 1000px;
} */

 @media (max-width: 768px) {
    .bodybox {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: flex-start;
        gap: 20px;
    } 


    .bdy {
        margin: 0;
        padding: var(--app-block-padding);
    }

   .image {
        display: none;
    }

    .bodybox .image2 {
        display: block;
        width: 300px;
        height: 300px;
    }

    .titlebox {
        width: 300px;
    }
    
    .titlebox h1 {
        font-size: 38px;
        width: 300px;
        text-align: center;
    }
    
    .titlebox p {
        font-size: 18px;
        color: #DAC5A7;
        line-height: 40px;
        font-weight: 400;
    }
}