.container {
    background-color: #0C1A1A;
    padding: var(--app-block-padding);
    overflow: hidden;
}

.containerbox {
    margin-top: 80px;
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    gap: 20px;
}

.headingbox p{
    color: #BFA181;
    text-transform: uppercase;
    font-family: "Merriweather", sans-serif;
    font-weight: lighter;
}

.headingbox h1 {
    font-weight: 400;
    font-family: "Spectral", sans-serif;
}

.formcontainer {
    box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px;
    padding: 30px 50px;
    background-color: #dac5a70e;
}

.formbox {
    width: 500px;
}

.formfield {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.formfield input, .formfield textarea {
    width: 100%;
    height: 20px;
    padding: 10px;
    background-color: #178582;
    border: none;
    text-shadow: none;
}

.formfield textarea {
    height: 70px;
}

.formfield ::placeholder {
    color: #DAC5A7;
    font-family: "Merriweather", sans-serif;
    font-size: 14px;
}

.button {
    height: 40px;
    background-color: #BFA181;
    width: 520px;
    border: none;
    font-family: "Spectral", sans-serif;
    font-size: 16px;
    font-weight: 600;
    color: #0C1A1A;
    cursor: pointer;
}

.button:hover {
    background-color: #c99e71;
    text-decoration: underline;
}

.formcontainerbox {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 40px;
}

.socialcontainer {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 20px;
}

.socialbox {
    background-color: #178582;
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 13.3vw;
    padding: 12px;
    box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px;
    border-radius: 5px;
    cursor: pointer;
    color: #BFA181;
}

.social {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 5px;
}

.socialbox a {
    text-decoration: none;
    color: #BFA181;
    font-family: "Spectral", sans-serif;
    font-size: 16px;
}

.socialbox .icon {
    width: 20px;
    height: 20px;
}

@media (max-width: 768px) {
    .container {
        padding: var(--app-block-padding);
    }

    .containerbox {
        margin-top: 30px;
        flex-direction: column;
        align-items: flex-start;
    }

    .image {
        width: 300px;
        height: 400px;
    }

    .headingbox p{
        font-size: 12px;
    }
    
    .headingbox h1 {
       font-size: 28px;
    }
    
    .formcontainer {
        box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px;
        padding: 20px;
        background-color: #dac5a70e;
    }
    
    .formbox {
        width: 250px;
    }
    
    .formfield {
        display: flex;
        flex-direction: column;
        gap: 15px;
    }
    
    .formfield input, .formfield textarea {
        width: 230px;
    }
    
    .formfield textarea {
        height: 80px;
    }
    
    .button {
        height: 38px;
        width: 250px;
    }
    
    .formcontainerbox {
        gap: 30px;
    }
    
    .socialcontainer {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        grid-gap: 15px;
    }
    
    .socialbox {
        width: 120px;
        padding: 8px;
    }
    
    .socialbox a {
        font-size: 14px;
    }
    
    .socialbox .icon {
        width: 16px;
        height: 16px;
    }
}