.headerbox {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 var(--app-block-padding);
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    background-color: #0C1A1A;
    color: #6ACFC7;
    border-bottom: 1px solid #BFA181;
    height: 80px;
}

.logo {
    font-family: "Spectral", sans-serif;
    font-size: 32px;
    width: 300px;
    color: #6ACFC7;
    text-decoration: none;
}

.logo:hover {
    color:#BFA181;
    font-size: 38px;
}

.menu ul {
    list-style: none;
    display: flex;
    gap: 30px;
}

.menu ul li a {
    font-family: "Merriweather", sans-serif;
    font-size: 16px;
    text-decoration: none;
    font-weight: 500;
    padding: 5px 5px;
    text-wrap: nowrap;
    color: #6ACFC7;
}

.menu ul li a:hover {
    color: #BFA181;
    font-size: 18px;
}

.nav-item.active, .menu-li.active {
    color: #BFA181;
    text-decoration: underline;
}

.menu li.active {
    color: #BFA181;
    text-decoration: underline;
}
.menu-icon, .menu ul .button2 {
    display: none;
}

@media (max-width: 768px) {
    .menu-icon {
        display: block;
        fill: #6ACFC7;
        width: 32px;
        height: 60px;
    } 

      .menu {
        flex-direction: column;
        position: absolute;
        left: 0;
        right: 0px;
        padding-left: 20px;
        top: 80px;
        background-color: #0C1A1A;
      }

      .menu ul {
        display: none;
        padding: 0;
    }

    .menu ul .button2 {
        display: block;
    }

    .menu ul.mobile {
        display: block;
    }
    
    .menu ul li {
    padding: 10px 0;
}

.menu li.hidden-mobile, .button {
    display: none;
}
}