.container {
    padding:  var(--app-block-padding);
    background-color: #0C1A1A;
}

.offers {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 30px;    
}

.name {
    height: 220px;
    padding: 20px;
    background-color: #178582;
}

.number, .title, .description {
    color: #DAC5A7;
    line-height: 25px;
}

.title {
    text-transform: uppercase;
}

@media (max-width: 768px) {
    .container {
        padding: var(--app-block-padding);
    }

    .offers {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }

    .offerbox {
        width: 300px;
    }
    
    .name {
        height: 200px;
        padding: 20px;
        background-color: #178582;
    }

    .title {
        font-size: 20px;
    }

    .description {
        font-size: 14px;
    }
}