.btn, .btn-secondary {
  display: flex;
  height: 40px;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 10px 24px;
  gap: 8px;
  border: none;
  border-radius: 100px;
  background-color: #005858;
  color: white;
  font-family: "Roboto", sans-serif;
  font-size: 14px;
  letter-spacing: 0.1px;
  font-weight: 500;
  cursor: pointer;
}

.btn-secondary {
  background-color: transparent;
  color: #BFA181;
  border: 2px solid #BFA181;
}

.btn:hover {
  background-color: transparent;
  border: 2px solid #BFA181;
  color: #BFA181;
}

h1 {
  font-size: 32px;
  font-family: "Spectral", sans-serif;
  color: #BFA181;
}