.copyright {
    background-color: #008080;
    display: flex;
    color: #DAC5A7;
    justify-content: center;
}

@media (max-width: 768px) {
    .copyright {
        align-items: center;
    }

    .copy p {
        text-align: center;
        font-size: 12px;
        font-family: "Merriweather", sans-serif;
    }
}